<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">

    
    
    <title>Netflix Brasil - assistir a séries online, assistir a filmes online</title>
</head>
<body>
    <div id="main">
        <div id="fundo">
            <img  src="img/fundo-inicial.jpg">
            <div id="opacidade"></div>
        </div>
        <div id="top">
            <img src="img/logo-completa.png" >
            <div id="select-idioma">
                <select id="idioma">

                    <option value="PT" selected>Português</option>
                    <option value="EN">English</option>
                </select>
            </div>
            <a id="entrar" href="#">Entrar</a>
        </div>
        <div id="center">
            <p>dawdwa</p>
        </div>
    </div>
</body>
</html>